matplotlib==3.8.0
matplotlib-base==3.8.0
matplotlib-inline==0.1.6
numpy==1.23.5
scikit-learn=1.2.2=
pandas==1.4.4
scipy==1.11.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
entrypoints==0.4
jsonschema==4.19.2
toolz==0.12.0
altair
vega_datasets
